// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.play-video-wrapper {
    background-color: rgba(0, 0, 0, .05);
    font-size: 48px;

    &:hover {
        background-color: rgba(0, 0, 0, .1);
    }
}

